#details {
    padding: 7rem 0px 7rem 0px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .col-description {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 991px) {
        .col-description {
            text-align: center;
        }
    }
}